<label id="pref" class="center">
  уюї
  <%= select_tag 'pref',
    options_from_collection_for_select(
      select_prefs,
      :first,
      :second,
      id: 'pref'
    ),
    class: "form-control"
  %>
</label>

<label id="city-area" class="center">
  <%= render partial: 'search/select_city', locals: {spots: Spot.all} %>
</label>
