<% provide(:title, @user.user_name + "ã®") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <table class="table">
          <% if @user.image_name? %>
            <tr>
              <td>
                <%= image_tag @user.image_name.thumb.url %><br>
              </td>
            </tr>
          <% end %>
          <tr><td><%= @user.user_name %></td></tr>
          <tr><td><%= @user.email %></td></tr>
          <tr><td><%= @user.rating %></td></tr>
        </table>
      </h1>
    </section>
  </aside>
</div>
