<% provide(:title, '計画表一覧') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% @plan = Plan.where(user_id: session[:user_id]) %>
      <table class="table table-striped table-bordered table-hover">
        <% @plan.each do |pa| %>
          <tr>
            <td>
              <%= link_to plan_detail_path(plan_id: pa.plan_id) do %>
                <%= pa.plan_name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </section>
  </aside>
</div>
