<% if logged_in? %>
  <div class="">
  <%= render('search/search') %>
  <%= render('search/time_line') %>
<% else %>
  <div class="center jumbotron">
    <h1>さくれへようこそ！</h1>

    <h2>
      「さくれ」はあなたの観光を有意義なものにしてくれます！
    </h2>

    <%= link_to "さくれのめんばーになる", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= render('search/search') %>
  
<% end %>
