// Place all the styles related to the rate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-link{
    float: left;
}

//.btn-tertiary {
//     background-color: hotpink;
//     border-color: whitesmoke;
//     color: black;
//}

.btn-tertiary:hover, .btn-tertiary:focus, 
.btn-tertiary:active, .btn-tertiary:active:focus, .btn-tertiary:active:hover, .btn-tertiary:active.focus,
.btn-tertiary.active, .btn-tertiary.active:focus, .btn-tertiary.active:hover, .btn-tertiary.active.focus,
.open > .dropdown-toggle.btn-tertiary, 
.open > .dropdown-toggle.btn-tertiary:hover,
.open > .dropdown-toggle.btn-tertiary:focus, 
.open > .dropdown-toggle.btn-tertiary.focus,
.btn-tertiary.disabled:hover, .btn-tertiary[disabled]:hover, fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus, .btn-tertiary[disabled]:focus, fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled.focus, .btn-tertiary[disabled].focus, fieldset[disabled] .btn-tertiary.focus {
    color: white;
    background-color: hotpink;
    border-color: whitesmoke;
}


.btn-tertiary {
    background-color: gray;
    color: white;
    transition: .4s;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color:whitesmoke;
    border-radius: 10px;
}