ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 2px 15px;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.ui-helper-hidden-accessible {
	display: none;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
	background-color: lightskyblue;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
.with-nav-tabs.panel-search .nav-tabs > li > a,
.with-nav-tabs.panel-search .nav-tabs > li > a:hover,
.with-nav-tabs.panel-search .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-search .nav-tabs > .open > a,
.with-nav-tabs.panel-search .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-search .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-search .nav-tabs > li > a:hover,
.with-nav-tabs.panel-search .nav-tabs > li > a:focus {
	color: #fff;
	background-color: slategray;
	border-color: transparent;
}
.with-nav-tabs.panel-search .nav-tabs > li.active > a,
.with-nav-tabs.panel-search .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-search .nav-tabs > li.active > a:focus {
	color: #333333;
	background-color: #fff;
	border-color: whitesmoke;
	border-bottom-color: transparent;
}

.panel-body {
  background-color:ã€€white;
}

.form-inline .form-control {
  vertical-align: unset !important;
}

select {
  width: 60% !important;
  display: inline-block !important;
}


label {
  padding-right: 25%;
  margin: auto;
  text-align: right !important;
  display: block !important;
}

input#product {
  display: inline-block !important;
  width: 60%;
}

.btn-primary {
  background-color: slategray;
  border-color: whitesmoke;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
  background-color: gray;
  border-color: whitesmoke;
}
