// Place all the styles related to the spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post1 {
  width: 55px !important;
  display: inline-block;
}
.post2 {
  width: 65px !important;
  display: inline-block;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 5px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-radius: 5px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: unset !important;
  width: 100%;
  margin-bottom: 0;
}

textarea#spot_details {
  resize: none !important;
}

[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  display: contents;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

label#show.btn.btn-default {
  color: white;
  background-color: seagreen;
}


label#hide.btn.btn-default {
  color: white;
  background-color: brown;
}

label#show.btn.btn-default:hover, label#show.btn.btn-default:focus, 
label#show.btn.btn-default:active, label#show.btn.btn-default:active:focus, label#show.btn.btn-default:active:hover, label#show.btn.btn-default:active.focus,
label#show.btn.btn-default.active, label#show.btn.btn-default.active:focus, label#show.btn.btn-default.active:hover, label#show.btn.btn-default.active.focus,
.open > .dropdown-togglelabel#show.btn.btn-default, 
.open > .dropdown-togglelabel#show.btn.btn-default:hover,
.open > .dropdown-togglelabel#show.btn.btn-default:focus, 
.open > .dropdown-togglelabel#show.btn.btn-default.focus,
label#show.btn.btn-default.disabled:hover, label#show.btn.btn-default[disabled]:hover, fieldset[disabled] label#show.btn.btn-default:hover,
label#show.btn.btn-default.disabled:focus, label#show.btn.btn-default[disabled]:focus, fieldset[disabled] label#show.btn.btn-default:focus,
label#show.btn.btn-default.disabled.focus, label#show.btn.btn-default[disabled].focus, fieldset[disabled] label#show.btn.btn-default.focus {
  background-color: mediumseagreen;
  border-color: whitesmoke;
  color: white;
}

label#hide.btn.btn-default:hover, label#hide.btn.btn-default:focus, 
label#hide.btn.btn-default:active, label#hide.btn.btn-default:active:focus, label#hide.btn.btn-default:active:hover, label#hide.btn.btn-default:active.focus,
label#hide.btn.btn-default.active, label#hide.btn.btn-default.active:focus, label#hide.btn.btn-default.active:hover, label#hide.btn.btn-default.active.focus,
.open > .dropdown-togglelabel#hide.btn.btn-default, 
.open > .dropdown-togglelabel#hide.btn.btn-default:hover,
.open > .dropdown-togglelabel#hide.btn.btn-default:focus, 
.open > .dropdown-togglelabel#hide.btn.btn-default.focus,
label#hide.btn.btn-default.disabled:hover, label#hide.btn.btn-default[disabled]:hover, fieldset[disabled] label#hide.btn.btn-default:hover,
label#hide.btn.btn-default.disabled:focus, label#hide.btn.btn-default[disabled]:focus, fieldset[disabled] label#hide.btn.btn-default:focus,
label#hide.btn.btn-default.disabled.focus, label#hide.btn.btn-default[disabled].focus, fieldset[disabled] label#hide.btn.btn-default.focus {
  background-color: indianred;
  border-color: whitesmoke;
  color: white;
}
